
<h1>Index - Bookings Controller</h1>

<ul>
  <% @bookings.each do |booking| %>
    <%# Volontary put the booking instance like this, for testing %>
    <li> <%= booking.start_date %> to <%= booking.end_date %> <%= link_to "See details", booking_path(booking) %></li>
  <% end %>
</ul>
