<h2>Booking request</h2>

<%= simple_form_for([@life, @booking]) do |f| %>
  <%= f.input :start_date, as: :date, html5: true %>
  <%= f.input :end_date, as: :date, html5: true %>
  <%= f.button :submit %>
  <% end %>
