<div class="container py-5">
  <h1>My booking history</h1>

  <%# <% colorStatus = &:pending? ? 'color-yellow' : &:accepted? ? 'color-success' : 'color-danger' %>
  <% if @bookings.select(&:pending?).count.positive? %>
    <h3 class="mt-3 text-start">Pending</h3>
    <div class="cards">
    <% @bookings.select(&:pending?).each do |b| %>
      <% color = 'color-yellow' %>
      <%= render 'card-booking', b:b, color: color %>
    <% end %>
    </div>
  <% end %>

  <% if @bookings.select(&:accepted?).count.positive? %>
    <h3 class="mt-3 text-start">Accepted</h3>
    <div class="cards">
      <% @bookings.select(&:accepted?).each do |b| %>
        <% color = 'color-success' %>
        <%= render 'card-booking', b:b, color: color %>
      <% end %>
    </div>
  <% end %>
