<div class="container-fluid p-0">
  <div class="hero"  style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
    <div class="hero-info align-middle">
      <h1> Rent-A-Life</h1>
      <p> Get a glimpse of a life you'll never get. </p>
      <%= link_to "I want to change my life now!", "#", class: "btn btn-flat" %>
    </div>
  </div>
</div>
