.cardhome {
  background-color: #FEF9EF;
}
.cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
// .card {
//   width: 400px;
//   margin-bottom: 10px;
// }
/* Demo Code: */
