// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// Custom Component
@import "components/cards";


.notice {
  margin-top: 1em;
  font-size: 48px;
  background-color: #aab84444;
  color: #999;
}
